################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProposalAPI/bin
/ProposalAPI/obj
/packages
/workify/.vs
